Package: com.aldo.gestures+
Name: gestures+
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: enable iphone x gestures, ipad status bar, rounded dock & hide labels.
Maintainer: aldo
Author: aldo
Section: Tweaks
