Package: com.aldo.gestures+
Name: gestures+
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: enable iphone x gestures, rounded dock & hide labels
Maintainer: aldo
Author: aldo
Section: Tweaks
